@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'leaflet/dist/leaflet.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scroll-dark {
  scrollbar-color: #3b4354 #232734;
}
.scroll-dark::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.scroll-dark::-webkit-scrollbar-track {
  background: #232734;
}
.scroll-dark::-webkit-scrollbar-thumb {
  background: #3b4354;
  border-radius: 9999px;
  border: 2px solid #232734;
}
